<span class="nav-section-title">
  Getting Started
</span>
<ul class="nav nav-pills nav-stacked">
    {{menu pages "getting started" page}}
</ul>

<span class="nav-section-title">
  Core Concepts
</span>
<ul class="nav nav-pills nav-stacked">
    {{menu pages "concepts" page}}
</ul>
