<span class="nav-section-title">
  Development
</span>
<ul class="nav nav-pills nav-stacked">
  {{menu pages "development" page}}
</ul>

<span class="nav-section-title">
  Modules
</span>
<ul class="nav nav-pills nav-stacked">
  {{menu pages "modules" page}}
</ul>
